<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li ><%= link_to 'Home', root_path %></li>
    <li ><%= link_to 'About', page_path('about') %></li>
	<li><%= link_to 'Contact', page_path('contact') %></li>
<!--     <li class="th" >
  		
  		<%= image_tag "Altruis_Logo_PP01_11dec13.gif" %>
	</li> -->
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
    <ul>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>
